*{
    font-family: 'Poppins', sans-serif;
}
body {
    background: #03a9f4;
 }

.pokemon-content {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    gap: 4rem;
    text-align: center;
    margin-top: 9rem;
}

.pokemon-content img {
    width: 30%;
    height: auto;
    border-radius: 35px;
    margin-bottom: 20px;
}
.box {
    padding: 16px;
    border-radius: 15px;
    transition: all .38s ease;
}

.box h3 {
    font-size: 50px;
    font-weight: 600;
    color: black;
    margin-bottom: 15px;
}
.box h5 {
    font-size: 25px;
    font-weight: 600;
    color: black;
    margin-bottom: 30px;
    letter-spacing: 2px;
}
.box:hover {
    transform: translateY(-10px);
    cursor: pointer;
}
button {
    border: none;
    border-radius: 20px;
    background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    transition: all 1.5s ease;
    font-family: 'Ropa Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.05rem;
    padding: 0;
}  
   button span {
    display: inline-block;
    padding: 15px 35px;
    font-size: 17px;
    border-radius: 20px;
    background: #ffffff10;
    backdrop-filter: blur(20px);
    transition: 0.4s ease-in-out;
    transition-property: color;
    height: 100%;
    width: 100%;
} 
   button span:hover {
    backdrop-filter: blur(0px);
    color: #ffffff;
}